**/.idea/workspace.xml
**/.idea/vcs.xml
**/.idea/misc.xml
**/out/
**/PythonBackendServer/lightingproject-b4e13-firebase-adminsdk-s1ody-d6f69bf0cb.json
**/Backend\ code\ backup/
**/Backup\ of\ backend\ files\ 24-09-2019/
**/For\ transfer/