**/PythonBackendServer/lightingproject-b4e13-firebase-adminsdk-s1ody-d6f69bf0cb.json
**/Backend\ code\ backup/
**/Backup\ of\ backend\ files\ 24-09-2019/
**/For\ transfer/
**/.idea/workspace.xml
**/.idea/vcs.xml
**/.idea/misc.xml
Project/out/
RGBTapeControllerApp/app/google-services.json
RGBTapeControllerApp/app/release/ 
**/pre\ problem/
**/bmp-to-hex/out/
**/control-panel-c-code/_build/
bmp-to-hex/output.txt
raspberry-pi-c-code/C-UART/old/
raspberry-pi-c-code/C-UART/temp/
